In [ ]:
#pip install ydata_profiling

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
from pycaret.datasets import get_data
#from ydata_profiling import ProfileReport

C:\Users\JEYxc\AppData\Local\Temp\ipykernel_60296\1119271514.py:2: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport

In [2]:
house_prices =pd.read_csv('../data/raw/train.csv')

# Specify the file path
file_path = '../data/raw/train.csv'

# Specify the number of rows to read (half of the dataset)
half_length = pd.read_csv(file_path).shape[0] // 2

# Read only half of the dataset
house_prices = pd.read_csv(file_path, nrows=half_length)

# Display the first few rows of the loaded DataFrame
print(house_prices.head())

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1

  LandContour Utilities  ... PoolArea PoolQC Fence MiscFeature MiscVal MoSold  \
0         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
1         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      5
2         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      9
3         Lvl    AllPub  ...        0    NaN   NaN         NaN       0      2
4         Lvl    AllPub  ...        0    NaN   NaN         NaN       0     12

  YrSold  SaleType  SaleCondition  SalePrice
0   2008        WD         Normal     208500
1   2007        WD         Normal     181500
2   2008        WD         Normal     223500
3   2006        WD        Abnorml     140000
4   2008        WD         Normal     250000

[5 rows x 81 columns]

In [3]:
len(house_prices)

730

In [ ]:
profile = ProfileReport(house_prices, title="Profile Report")
profile

In [1]:
num_filas_train = int(len(house_prices)*0.8)

data_train = house_prices.sample(n=num_filas_train,random_state=2023)
data_test = house_prices.drop(data_train.index)

NameError: name 'house_prices' is not defined

In [5]:
print(f"Filas en Train:{data_train.shape[0]}")
print(f"Filas en Test:{data_test.shape[0]}")

Filas en Train:33742
Filas en Test:14462

In [6]:
from pycaret.regression import *

In [7]:
dataset = setup(data=data_train,
                target='SalePrice',
                session_id=2023,#funciona como un seed
                normalize=True,
                normalize_method='minmax',
                transformation=True,
                ) #el default es yeo-johnson

In [8]:
dataset.X_train

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour
37012,NaN,284.359985,0.0,0.0,1,Clear,0
9453,NaN,287.369995,0.0,0.0,0,Clear,0
29800,NaN,252.910004,0.0,0.0,1,Haze,0
1083,NaN,280.100006,0.0,0.0,90,Mist,0
16636,NaN,292.040009,0.0,0.0,90,Mist,1
...,...,...,...,...,...,...,...
40941,NaN,269.010010,0.0,0.0,90,Mist,0
21143,NaN,264.220001,0.0,0.0,90,Snow,0
16853,NaN,300.920013,0.0,0.0,1,Clear,0
29377,NaN,275.209991,0.0,0.0,90,Drizzle,0
27154,NaN,279.027008,0.0,0.0,92,Rain,0

In [9]:
dataset.X_train_transformed

,holiday_Labor Day,holiday_Veterans Day,holiday_Martin Luther King Jr Day,holiday_Independence Day,holiday_Christmas Day,holiday_Memorial Day,holiday_Thanksgiving Day,holiday_Washingtons Birthday,holiday_State Fair,holiday_New Years Day,...,weather_main_Mist,weather_main_Thunderstorm,weather_main_Clouds,weather_main_Rain,weather_main_Snow,weather_main_Fog,weather_main_Drizzle,weather_main_Smoke,weather_main_Squall,Rush Hour
37012,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9453,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29800,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1083,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16636,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40941,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21143,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
16853,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29377,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
27154,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

# Entrenando modelos

In [10]:
best = compare_models(sort='RMSE')

In [11]:
best = compare_models(sort='RMSE',exclude=['lar','lr'])

In [12]:
final_model = finalize_model(estimator=best)

In [13]:
save_model(model=final_model, model_name='../models/model_v1')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                              'clouds_all', 'Rush Hour'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['holiday', 'weather_main'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(inclu...
                                                                     'weather_main'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('transformation',
                  TransformerWrapper(transformer=PowerTransformer(standardize=False))),
                 ('normalize', TransformerWrapper(transformer=MinMaxScaler())),
                 ('clean_column_names',
                  TransformerWrapper(transformer=CleanColumnNames())),
                 ('actual_estimator',
                  LGBMRegressor(n_jobs=-1, random_state=2023))]),
 '../models/model_v1.pkl')

In [14]:
model = load_model('../models/model_v1')

Transformation Pipeline and Model Successfully Loaded

In [15]:
model

Pipeline(memory=FastMemory(location=C:\Users\JEYxc\AppData\Local\Temp\joblib),
         steps=[('numerical_imputer',
                 TransformerWrapper(include=['temp', 'rain_1h', 'snow_1h',
                                             'clouds_all', 'Rush Hour'],
                                    transformer=SimpleImputer())),
                ('categorical_imputer',
                 TransformerWrapper(include=['holiday', 'weather_main'],
                                    transformer=SimpleImputer(strategy='most_frequent'))),
                ('o...
                                                                    'weather_main'],
                                                              handle_missing='return_nan',
                                                              use_cat_names=True))),
                ('transformation',
                 TransformerWrapper(transformer=PowerTransformer(standardize=False))),
                ('normalize', TransformerWrapper(transformer=MinMaxScaler())),
                ('clean_column_names',
                 TransformerWrapper(transformer=CleanColumnNames())),
                ('actual_estimator',
                 LGBMRegressor(n_jobs=-1, random_state=2023))])

In [16]:
predicciones = predict_model(model, data=data_test)
predicciones

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,Rush Hour,traffic_volume,prediction_label
1,NaN,289.359985,0.00,0.0,75,Clouds,0,4516,3282.765874
3,NaN,290.130005,0.00,0.0,90,Clouds,0,5026,3213.147058
4,NaN,291.140015,0.00,0.0,75,Clouds,0,4918,3332.255912
9,NaN,293.100006,0.00,0.0,20,Clouds,1,4770,4508.094565
10,NaN,290.970001,0.00,0.0,20,Clouds,1,3539,4728.574618
...,...,...,...,...,...,...,...,...,...
48198,NaN,284.200012,0.25,0.0,75,Rain,1,3947,4724.679362
48199,NaN,283.450012,0.00,0.0,75,Clouds,1,3543,4720.785416
48200,NaN,282.760010,0.00,0.0,90,Clouds,0,2781,3096.935427
48201,NaN,282.730011,0.00,0.0,90,Thunderstorm,0,2159,2571.338620
48203,NaN,282.119995,0.00,0.0,90,Clouds,0,954,3109.274812

Clase 14/11/2023

In [17]:
gbr = create_model('gbr')

In [18]:
print(gbr)

GradientBoostingRegressor(random_state=2023)

In [19]:
params = {
    'n_estimators':[50,100],
    'learning_rate':[0.01,0.1]
}

turned_gbr_model = tune_model(
    estimator=gbr,
    optimize='RMSE',
    fold=10,
    n_iter=10,
    custom_grid=params
)

Fitting 10 folds for each of 4 candidates, totalling 40 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).